.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
}
.cont{
  background-color: white;
  padding: 1%;
  max-width: 400px;
  border: 2px dotted black;
  margin: 0 auto;
  
}
section div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 180px;
  
}
.btn{
  background-color: white;
  outline:none;
  border-style: none;
  font-weight: bolder;
  font-size: 25px;
  color:red
}



